<h1>Listing tribes</h1>

<table>
  <tr>
    <th>Tribe name</th>
    <th>Category</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tribes.each do |tribe| %>
  <tr>
    <td><%= tribe.tribe_name %></td>
    <td><%= tribe.category %></td>
    <td><%= tribe.location %></td>
    <td><%= link_to 'Show', tribe %></td>
    <td><%= link_to 'Edit', edit_tribe_path(tribe) %></td>
    <td><%= link_to 'Destroy', tribe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tribe', new_tribe_path %>
